@model List<EstateProject.Models.building>
@{
    ViewBag.Title = "Danh sách tòa nhà";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">
                    Trang chủ
                </a>
            </li>
            <li>
                <a href="">
                    Quản lý tòa nhà
                </a>
            </li>
            <li class="active">
                Danh sách tòa nhà
            </li>
        </ul>
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box ">
                    <div class="widget-header">

                        <h4 class="widget-title" style="font-family: VnBlack">Tìm kiếm </h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div> <!-- widget-header -->
                    <!-- search Buidling -->
                    <form id="listFormBuilding" method="GET" action="@Url.Action("ListBuilding", "Building")" >
                        <div class="widget-body ">
                            <div class="widget-main">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label for="name">Tên tòa nhà </label>
                                            <input type="text" class="form-control" id="name" name="name" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="buildingArea">Diện tích sàn </label>
                                            <input type="number" id="buildingArea" class="form-control" name="floorarea" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <label style="padding-bottom: -20px ;margin-right: 21px;"> Quận hiện có</label>
                                            <select id="district">
                                                <option value=""> -- Chọn quận -- </option>

                                            </select>

                                        </div>
                                        <div class="col-sm-4">
                                            <label for="ward">Phường </label>
                                            <input type="text" class="form-control" id="ward" name="ward" />
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="street">Đường </label>
                                            <input type="text" class="form-control" id="street" name="street" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="numberOfBaseMent">Số tầng hầm</label>
                                            <input type="number" id="numberOfBasement" class="form-control" name="numberOfBasement" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="direction">Hướng </label>
                                            <input type="text" class="form-control" id="direction" name="direction" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="level">Hạng </label>
                                            <input class="form-control" id="level" name="level" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="areaRentFrom">Diện tích từ </label>
                                            <input type="number" id="areaRentFrom" class="form-control" name="areaRentFrom" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="areaRentTo">Diện tích đến </label>
                                            <input type="number" id="areaRentTo" class="form-control" name="areaRentTo" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="costRentFrom">Giá thuê từ</label>
                                            <input type="number" id="costRentFrom" class="form-control" name="costRentFrom" />
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="costRentTo">Giá thuê đến </label>
                                            <input type="number" id="costRentTo" class="form-control" name="costRentTo" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label for="managerName">Tên quản lý </label>
                                            <input type="text" class="form-control" id="managerName" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label for="managerPhone">Điện thoại quản lý </label>
                                            <input type="text" class="form-control" id="managerPhone" />
                                        </div>

                                        <!-- If role equal MANAGER -->
                                        <div class="col-sm-4">

                                            <label for="staffId"> Nhân viên phụ trách</label>
                                            <select id="staffId" style=" margin-top: -2px;width: 405px;">
                                                <option value=""> &#45;&#45; Chọn nhân viên phụ trách &#45;&#45; </option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <label> Loại tòa nhà</label>
                                            <li>
                                                <input type="checkbox" name="buildingTypes" value="TANG_TRET" /> <label> Tầng Trệt </label>
                                                <input type="checkbox" name="buildingTypes" value="NOI_THAT" /> <label> Nội Thất </label>
                                                <input type="checkbox" name="buildingTypes" value="NGUYEN_CAN" /> <label> Nguyên Căn </label>
                                            </li>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm=12">
                                            <button type="button" style=" border: thick;  padding: 5px 15px; margin-left: 14px;" class="bnt btn-success" id="btnSearch"> Tìm kiếm <i class="fa fa-arrow-right"></i></button>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- widget-main -->
                        </div> <!-- widget-body  and search Building-->
                        <input type="hidden" value="1" id="page" name="page" />
                        <input type="hidden" value="" id="limit" name="limit" />
                    </form>
                </div> <!-- widget-box -->
                <div class="table-btn-controls">

                    <div class="pull-right tableTools-container" style=" margin-top: 8px;">
                        <div class="dt-buttons btn-overlap btn-group">
                            <a flag="info" href="@Url.Action("EditBuilding", "Building")"
                               class="dt-button buttons-colvis btn btn-white btn-primary btn-bold" data-toggle="tooltip"
                               title='Thêm bài viết'>
                                <span>
                                    <i class="fa fa-plus-circle bigger-110 purple"></i>
                                </span>
                            </a>
                            <button id="btnDelete" type="button" style="margin-left: 6px;" disabled
                                    class="dt-button buttons-html5 btn btn-white btn-primary btn-bold" onclick="warningBeforeDelete()" data-toggle="tooltip" title='Xóa bài viết'>
                                <span>
                                    <i class="fa fa-trash-o bigger-110 pink"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>  <!-- delete and create-->
                <br />


                <!-- buidling list-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table id="buildingList" class="table  table-bordered ">
                                        <thead>
                                            <tr style="font-family: VnBlack ; font-weight: bold; color: #000000;">
                                                <th><input type="checkbox" id="checkAll" value="#" /></th>
                                                <th>Ngày </th>
                                                <th>Tên tòa nhà</th>
                                                <th>Địa chỉ</th>
                                                @*<th>Tên quản lý</th>
                                                    <th>Số điện thoại</th>*@
                                                <th>D.T sàn</th>
                                                @* <th>D.T trống </th>*@
                                                <th>Giá thuê </th>
                                                <th>Phí dịch vụ</th>
                                                <th>Phí MG</th>
                                                <th>Thao tác</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td> <input type="checkbox" id="checkbox_@item.id" value="@item.id" /></td>
                                                        <td> @item.createddate</td>
                                                        <td> @item.name</td>
                                                        <td> @item.ward</td>
                                                        <td> @item.floorarea</td>
                                                        <td> @item.rentprice</td>
                                                        <td> @item.servicefee</td>
                                                        <td> @item.brokeragetee</td>
                                                        <td>
                                                             <button class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="bottom"
                                                                        title="Giao tòa nhà cho nhân viên" onclick="assignmentBuilding()"> 
                                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                        </button>
                        
                                                              <a class="btn btn-xs btn-primary " data-toggle="tooltip" title="Cập nhật bài viết"
                                                                 href= "/Building/EditBuilding/@item.id" > 
                                                               <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a >
                            
                                                               <a class="btn btn-xs btn-primary " data-toggle="tooltip" title="Thông tin tòa nhà " >
                                                                     <i class="fa fa-eye" aria-hidden="true"></i></a >
                            
                                                                 <a class="btn btn-xs btn-primary " data-toggle="tooltip"  title="Thêm vào danh sách ưu tiên " >
                                                            <i class="fa fa-plus" aria-hidden="true"></i></a >
                                                         </td>

                                                    </tr>
                                                }
                                            }


                                        </tbody>
                                    </table> <!-- table-->
                                    <!-- navigation-->
                                    <ul class="pagination" id="pagination"></ul>

                                </div>
                            </div>

                        </div>
                    </div>
                </div> <!-- building-list-->

            </div> <!-- col-xs-12 -->
        </div> <!-- end row-->

    </div> <!-- page-content-->

</div>	<!--main-content-inner -->



@section scripts {
    <script type="text/javascript">

        var homeConfig = { pageSize: 5, pageIndex: 1 }

        


        /* delete */

        function warningBeforeDelete() {
            showAlertBeforeDelete(function () {
                event.preventDefault();
                let dataArray = $('tbody input[type=checkbox]:checked').map(function () {
                    return $(this).val();
                }).get();


                deleteBuilder(dataArray);
            });
        }
        function deleteBuilder(data) {
            $.ajax({
                url: '/Building/Delete',
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function () {
                    swal("Deleted!", "The building has been deleted.", "success").then((result) => {
                        if (result.value) {
                            loadData()
                        }
                    });
                },
                error: function () {
                    swal("Error", "Could not be deleted! :)", "error");
                }
            });
        }

        /* pagination */

       @* function paging(totalRow, callback) {
            var totalPages = Math.ceil(totalRow / homeConfig.pageSize);

            window.pagObj = $('#pagination').twbsPagination({
                totalPages: totalPages,
                visiblePages: 5,
                onPageClick: function (event, page) {
                    homeConfig.pageIndex = page;
                    setTimeout(callback, 200);
                }
            })
        }
*@


        /* assignment building */

        function assignmentBuilding() {


            openModelAssignmentBuilding();
        }
        function openModelAssignmentBuilding() {
            $('#assignmentBuildingModal').modal();
        }

        /* search */
        $('#btnSearch').click(function (e) {
            e.preventDefault();
            $('#listFormBuilding').submit();
        })



    </script>
}